<html>
<head>
	<link rel="stylesheet" href="old-browser-message.css">
</head>
<body>
    <div class="banner">
        <h1>UQ Library</h1>
    </div>
    <div class="card">Please upgrade to the latest version of <a href='http://www.google.com/chrome'>Google Chrome</a> to get the best experience on this site
<br \/><br \/>You are currently using an unsupported version of Safari bundled with Apple iOS version 4.0.1. We can only support Safari in Apple iOS version 6 and above.
<br \/><br \/>You can still use <a href=\'https:\/\/www.library.uq.edu.au\/mylibrary\'>the old version of MyLibrary<\/a>.</div>
</body>
</html>